:root {
  prefers-color-scheme: light dark;
  font-family: helvetica, arial, sans-serif;
}

body {
  margin: 0;
}

.main-container {
  height: 100vh;
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-title {
  position: absolute;
  top: 30px;
  width: 100%;
  padding: 15px 20px;
  background-color: black;
}

.main-title h2 {
  margin: 0;
  font-size: 2rem;
  color: white;
  text-align: center;
}

.faces-container {
  width: 100%;
  height: 90px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.face {
  background-color: white;
  height: 75px;
  flex: 1 0 0;
  margin: 0 2%;
  text-align: center;
  line-height: 75px;
  font-size: 1.5rem;
  font-weight: normal;
}

.face:first-of-type {
  margin-left: 4%;
}

.face:last-of-type {
  margin-right: 4%;
}
